@import "tailwindcss";

:root {
  --background: #faf2be;
  --background-secondary: #f0f0f0;
  --background-tertiary: #fff;
  --foreground: #171717;
  --dev-borders: #888;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --background-secondary: #272727;
    --foreground: #faf2be;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styles */


body{
  background-color: var(--background);
}

main{
  background-color: var(--background-secondary);
  border: 1px solid var(--dev-borders);
}

section{
  background-color: var(--background-tertiary);
  border: 1px solid var(--dev-borders);
  padding: 8px;
}

